---
date: Last Modified
eleventyExcludeFromCollections: true
---
{% include "head_open.liquid" %}
<style>
{% include "layouts/landing_page/style.css" %}
</style>
{% include "head_close.html" %}

<!-- scroll helper is used to show/hide the header when scrolling -->
<body data-theme="{{ theme }}">
<header>
    <div id="header-background"></div>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="header-content-text">
                <h1>Meet <span>HomeGenie</span></h1>
                <!--hr-->
                <p>The open source, programmable, home automation server for smart connected devices and applications</p>
            </div>
            <!--a href="#about" class="btn btn-primary btn-xl page-scroll" style="border:solid 1px white;margin-top:40px;">Find Out More</a-->
        </div>
    </div>
</header>
<main layout="column stretch-stretch">

{{ content | safe }}

</main>

{% include "body_end.liquid" %}

</body>

<!-- page script -->
<script>
{% include "layouts/landing_page/script.js" %}
</script>

{% include "html_close.html" %}
