ul {
    line-height: 130%;
}
header {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: block;
    width: 100%;
/*    min-height: 50vh;*/
    padding-top: 64px;
    padding-bottom: 48px;
}
header a {
    color: #ffff7a;
}
header .logo {
    padding: 4px;
    width: 420px;
    height: 200px;
}
header h1, .theme-dark header h1 {
    margin: 24px;
    font-size: 200%;
    font-weight: 500;
    text-align: center;
}
header h2, .theme-dark header h2 {
    margin: 24px;
    font-weight: 300;
    font-size: 150%;
    text-align: center;
}
header small {
    opacity: 1.0;
}

nav, .theme-dark nav {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    color: white;
    margin: 0;
    height: 64px;
    padding: 0 8px;
    position: absolute;
}

pre {
    border-radius: 4px;
}

footer {
    background: transparent!important;
    box-shadow: none!important;
}
footer, footer a {
    color: black!important;
}


/* CSS */
.button-85 {
   margin: 48px;
   font-size: 150%;
   font-weight: bold;
   padding: 0.6em 2em;
   border: none;
   outline: none;
   color: rgb(255, 255, 255);
   background: #111;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 10px;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #de2e7e;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.theme-dark .button-85:after {
    background: #45aa14;
}
.theme-dark .button-85 {
    color: white!important;
}





@media screen and (max-width: 520px) {
    header, .theme-dark header {
        padding-bottom: 32px;
    }
    header .logo {
        width: 280px;
        height: 140px;
    }
    header h1, .theme-dark header h1 {
        font-size: 125%;
    }
    header h2, .theme-dark header h2 {
        font-size: 90%;
    }
}
