{% unless options contains 'no-footer' %}
<footer self="size-large" layout="columns bottom-center">

    <div self="size-large" layout="rows center-justify" style="padding: 24px;max-width: 960px; width: 100%;">

        <div self="left" style="margin-bottom: 24px">
            <a href="{{ '/feed/rss.xml' | url }}" layout="row center-left" style="gap: 8px">
                <img src="{{ '/images/rss-feed.png' | url }}" width="24" height="24">
                <strong>RSS feed</strong>
            </a>
        </div>

        <div self="right" style="margin-bottom: 24px">
            &copy; 2012-to-infinity-and-beyond by <a class="accent" href="https://glabs.it">G-Labs</a>
        </div>

    </div>

</footer>
{% endunless %}
