.drawer-header {
    color:white;
    height: 104px;
    padding: 12px;
    background: var(--lite-nav-color);  /* fallback for old browsers */
}
.theme-dark .drawer-header {
    background: var(--dark-nav-color);  /* fallback for old browsers */
}
.drawer-header img.logo {
    width: 84px;
    height: 84px;
    border: none;
    border-radius: 56px;
    background: transparent;
}
.theme-dark .drawer-header img.logo {
    background: #000;
}

.drawer-header .title img {
    margin-left: auto;
    margin-right: auto;
    opacity: 0.85;
    width: 220px;
}

.drawer-header .subtitle {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 100%;
    opacity: 0.75;
}
.drawer-header code {
    color: yellow;
}

.drawer-content {
    background: white;
}
.theme-dark .drawer-content {
    background: var(--dark-nav-color);
}

.drawer-content ul {
    padding: 0;
    margin-top: 8px;
    /*font-size: 120%;*/
}
.drawer-content li:hover a {
    /*box-shadow: 1px 0 rgb(0 0 0 / 15%);
    background: rgba(160,160,160,0.1);*/
    color: var(--lite-color--primary);
}
.theme-dark .drawer-content li:hover a {
    color: var(--dark-color--primary);
}
.drawer-content li {
    border-radius: 0 24px 24px 0;
    margin: 0 10px 0 0;
    min-height: 48px;
    vertical-align: center;
    align-content: center;
    align-items: center;
    list-style: none;
}
.drawer-content ul li[aria-current=page] {
    border: solid 1px rgba(0, 255, 0, 3%);
    box-shadow: 1px 0 rgb(0 0 0 / 15%);
    background-color: rgba(127, 127, 127, 10%);
}
.drawer-content ul li[aria-current=page] i,
.drawer-content ul li[aria-current=page] a {
    color: var(--lite-color--primary);
}
.theme-dark .drawer-content ul li[aria-current=page] i,
.theme-dark .drawer-content ul li[aria-current=page] a {
    color: var(--dark-color--primary);
}

.drawer-content li a {
    font-weight: 400;
    font-size: 100%;
    position: relative;
    display: block;
    padding: 11px 16px;
    text-decoration: none;
}
.drawer-content li a span.mdl-button__ripple-container {
    border-radius: 0 24px 24px 0;
}
.drawer-content li a i {
    width: 40px;
    opacity: 0.65;
}
.drawer-content li a span.title {
    padding-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.drawer-content ul li[aria-current=page] a {
    /*pointer-events: none;
    font-weight: bold;*/
}
.drawer-content ul li a div.summary {
    font-size: 95%;
    line-height: 150%;
    margin-top: 4px;
    margin-right: 32px;
    font-style: italic;
    font-weight: 400!important;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: lightslategray;
}
.drawer-content label {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 12px;
    font-weight: bold;
    color: var(--lite-color--primary);
}
.theme-dark .drawer-content label {
    color: var(--dark-color--primary);
}
.drawer-content a {
   color: #24333e;
}
[z-context="menu-drawer"]:focus {
    outline: none;
}
