---
layout: homepage.liquid
options: highlight ext-links
order: 0
title: Integrated solution for smart projects 🪄
date: "git Last Modified"
---

<script>
  customElements.define('mdl-button', class extends HTMLElement {
    connectedCallback() {
      zuix.loadComponent(this, '@lib/controllers/mdl-button', 'ctrl', {
        container: this.attachShadow({mode: 'closed'})
      });
    }
  });
</script>


{%- renderTemplate "md" -%}
# Control Panel
{%- endrenderTemplate -%}

{% layout 'rows top-stretch' 'style="gap:12px"' %}

<div style="min-width: 400px; max-width: 640px; margin-left: auto;margin-right: auto;">
{%- renderTemplate "md" -%}
[HomeGenie Panel](panel)
is a standalone app with action scheduler, script recording, voice control, capable
of controlling media servers and smart TVs and of course any HomeGenie Mini and Server devices.

With a built-in automation engine, automation API and JavaScript editor, *HomeGenie Panel* can work 24/7 and
act as *always-on* smart panel with server/gateway level features.
{%- endrenderTemplate -%}

  <div style="margin-top: 24px;"><a href="panel">
    <mdl-button :class="'accent'" :type="'flat'" title="Open HomeGenie Panel documentation page">
      <i class="material-icons">arrow_right_alt</i>
      Read more
    </mdl-button>
  </a></div>

</div>

<div style="min-width: 400px;max-width: 100%;"><div class="media-container" style="margin:0; height: auto; aspect-ratio: 15/10">
{% zx 'media-browser' %}

media:

- type: image
  preview: panel/images/hg_panel_dashboard_03.jpg
  url: panel/images/hg_panel_dashboard_03.jpg

- type: image
  preview: panel/images/hg_panel_dashboard_02.jpg
  url: panel/images/hg_panel_dashboard_02.jpg

- type: image
  preview: panel/images/hg_panel_dashboard_04.jpg
  url: panel/images/hg_panel_dashboard_04.jpg

- type: image
  preview: panel/images/hg_panel_upnp_media_control_07.jpg
  url: panel/images/hg_panel_upnp_media_control_07.jpg

- type: image
  preview: panel/images/hg_panel_upnp_media_control_05.jpg
  url: panel/images/hg_panel_upnp_media_control_05.jpg

options:
- name: slide
  value: 5000
- name: inline
  value: true

{% endzx %}
</div></div>

{% endlayout %}


{%- renderTemplate "md" -%}
# Smart Device
{%- endrenderTemplate -%}

{% layout 'rows top-stretch' 'style="gap:12px"' %}

<div style="min-width: 400px; max-width: 640px; margin-left: auto;margin-right: auto;">
{%- renderTemplate "md" -%}
[HomeGenie Mini](mini)
is an open source library for creating smart devices based on **ESP32** or **ESP8266** SoCs.
HomeGenie-Mini devices are easy to set up, control and automate using *HomeGenie Panel* app.

Source code includes examples for implementing smart switch relays, smart sensors, a smart
shutter, an IR/RF transceiver, and more.
 
  
{%- endrenderTemplate -%}

  <div style="margin-top: 24px;"><a href="mini">
    <mdl-button :class="'accent'" :type="'flat'" title="Open HomeGenie Mini documentation page">
      <i class="material-icons">arrow_right_alt</i>
      Read more
    </mdl-button>
  </a></div>

</div>

<div style="min-width: 400px;max-width: 100%;padding-top:24px;">
    <img src="images/esp32-overview.png" width="420" style="max-width: 80%">
</div>

{% endlayout %}

<!--
> Have you got a spare ESP32 chip? HomeGenie-it now! =))
-->


{%- renderTemplate "md" -%}
# Programmable Intelligence
{%- endrenderTemplate -%}

{% layout 'rows top-stretch' 'style="gap:12px"' %}

<div style="min-width: 400px; max-width: 640px; margin-left: auto;margin-right: auto;">
{%- renderTemplate "md" -%}
[HomeGenie Server](server)
is an open source, general purpose, *programmable intelligence* that can monitor and control
smart devices to implement any kind of automated tasks based on statistics and actual system data.
It features a powerful scheduler and program engine, data processing and analysis, package system,
widgets editor and program editor with APIs that include GPIO/SPI/I2C programming.

With examples and widgets for a quick *Smart Home* setup, and built-in drivers for **X10**, **ZigBee**, **Z-Wave**,
*HomeGenie Server* is available for **Windows**, **Mac**, **Linux** and ARM-based computers.
{%- endrenderTemplate -%}

  <div style="margin-top: 24px;"><a href="server">
    <mdl-button :class="'accent'" :type="'flat'" title="Open HomeGenie Server documentation page">
      <i class="material-icons">arrow_right_alt</i>
      Read more
    </mdl-button>
  </a></div>

</div>

<div class="media-container" style="margin:0; min-width: 400px;max-width: 100%;">
    <img style="max-width: 100%; width: 640px" src="images/home/homegenie_dashboard_01.jpg" title="HomeGenie Demo Dashboard" />
</div>

{% endlayout %}
