---
layout: homepage.liquid
options: highlight ext-links
order: 0
title: automation intelligence and<br> control panel for your smart projects
date: Last Modified
---

{% layout 'rows center-stretch' %}

<div style="min-width: 400px; padding: 12px; margin-top: 32px;">

    <img style="max-width: 100%; width: 640px" src="images/home/homegenie_dashboard_01.jpg" title="HomeGenie Demo Dashboard" />

</div>

<div style="min-width: 400px; max-width: 640px; padding: 12px;margin-left: auto;margin-right: auto">
    {%- renderTemplate "md" -%}

## Portable, customizable and embeddable

- Runs on **Windows**, **Mac**, **Linux** and ARM-based computers
  *(such as **Raspberry Pi**)*
- Self-contained application with libraries optimized for each architecture
- Deploy easily with a single (zipped) folder - ready to run anywhere
- Setup Wizard
- Configuration Backup/Restore
- Customizable client UI presets
- Package system to quickly add/remove extra features
- Integrated **smart home** drivers:
  *KNX*, *X10*, *ZigBee*, *Z-Wave*

    {%- endrenderTemplate -%}
</div>

{% endlayout %}









{% layout 'rows center-stretch reverse' %}

<div style="min-width: 400px; padding: 12px; margin-top: 32px;">

    <img style="max-width: 100%; width: 640px" src="images/home/automation_visual_program_01.jpg" title="HomeGenie Visual Programming" />

</div>

<div style="min-width: 400px; max-width: 640px; padding: 12px;margin-left: auto;margin-right: auto">
    {%- renderTemplate "md" -%}

## Powerful Automation Engine

- Supports *C#*, *JavaScript*, *Python* and visual programming
- Direct access to *GPIO*, *I2C*, *SPI* and serial ports
- Includes [.NET IoT Libraries](https://learn.microsoft.com/en-us/dotnet/iot/) with bindings
  for [thousands of components](https://github.com/dotnet/iot/blob/main/src/devices/README.md)
- Fluent [API](./api/1.4/ape/annotated.html) for handling devices, events and data
- Realtime data processing and analysis
- Custom widgets using [zuix.js](https://zuixjs.org/) web components
- Scheduler with extended crontab expressions and scripting

    {%- endrenderTemplate -%}
</div>

{% endlayout %}



<div layout="column center-center">

<a href="./1.4/getting-started" class="button-85">Get Started</a>

</div>



<div layout="column center-stretch" class="section" style="gap: 12px;">

    <div layout="rows top-justify">

        <div style="min-width: 400px; padding: 12px;">

            <h3>Examples included</h3>
            <ul>
                <li>Weather Widget</li>
                <li>Security Alarm System</li>
                <li>Energy Monitor</li>
                <li>Smart Thermostat</li>
                <li>Raspberry Pi: <em>DHTxx</em> temperature/humidity sensing and <em>GPIO</em> control</li>
                <li>... and more!</li>
            </ul>

        </div>


    </div>

    <div layout="column center-center">
        <h2 style="margin-bottom: 0">Previous release</h2>
        <h3 style="font-weight: 300; margin-top: 0">
            <a href="content/intro/">HomeGenie v1.3</a>
        </h3>
    </div>

</div>
